body {
background-color: rgb(183, 198, 212);

}

h1 {
    font-family: "panno-text", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 100pt;
}


div.box {
    width: 900px;
    font-size: 30px;
    height: 300px;
    padding: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
background-color: white;
}