body {
background-color: rgb(250, 250, 250);
margin: 0;
padding: 0px;
}

.new-section {
    background-color: rgb(203, 119, 119);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.nav-line{
    width: 85%;
    border:none;
    border-top: 0.04vw solid rgb(164, 164, 164);
}

.back{
    background-color: grey;
    padding: 50px;
}

img {
    width: 100%;
}

.padleft{
    padding-left: 20px;
    
}

.padright{
    padding-right: 20px;
   
}

.bottomgap{
    padding-bottom: 2vw;
}

.mainheadingbottomgap{
    padding-bottom: 5vw;
}

.bottomgapquote{
    padding-bottom: 8vw;
}

.blob1topgap{
    padding-top: 15vw;
}

.blob2topgap{
   padding-top: 3vw;
}

.blob4gap{
    padding-top: 12vw;
    padding-bottom: 2vw;
}

.borderimg{
    img{ border: 3px solid black;
    }
}

.topgap5{
    padding-top: 1.75vw;
}

.padtopH{
    padding-top: 0.40vw;
}

.paddingtop2{
    padding-top: 2vw
}

.grid {
    background-color: blue;
    background-image: url("pattern.png");
    background-size:100px;
    transition: 1s;
}

.bodytoppad2{
    padding-top: 25vw;
}

.grid:hover {
    background-size:300px;
    transition: 1s;
}

.grid2 {
    background-color: blue;
    background-image: url("horizon.gif");
    background-size:1000px;
    transition: 1s;
    

}

.top-row{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.grid2:hover {
    background-size:300px;
    transition: 1s;
}

.midalign{
    text-align: center
}

.leftalign{
    text-align: left;
}

.rightalign{
    text-align: right;
}
    

.padtop{
    padding-top: 20px;
}
    
.padbot{
    padding-bottom: 20px;
}

.padmore{
    padding-left: 3vw;
}
    
.topgapquote{
    padding-top:6vw;
}

*{
    outline: 1px solid rgba(239, 11, 11, 0);
}

.stylishH1{
    background-image: url("pattern.png");
    background-size: 300px 300px; 
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 20vw;
    font-family: "panno-text", sans-serif;
    line-height: 15vw;
    font-weight: 700;
    font-style: normal;
    
}


.reimagined {
    background-color: rgb(255, 255, 255);
}

.stylishH2{
    background-image: url("Roller-Coaster_Grid.gif");
    background-size: 5000px 5000px; 
    background-size: contain;
    background-position: top;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 9vw;
    font-family: "futura", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 9vw;
    
}

.firstbodypad{
    padding-left: 0.5vw;
}
    

.largetext{
    display: flex-start;
    font-family: "panno-text", sans-serif;
    font-weight: 700;
    padding-bottom: 1vw;
    font-style: normal;
    line-height: 6.5vw;
    font-size: 7.7vw;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.04vw rgba(255, 255, 255, 0);

}

.largetext2{
    font-family: "panno-text", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 1.85vw;
    line-height: 6.5vw;
    font-size: 11.5vw;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.04vw rgba(255, 255, 255, 0);

}

.mediumtext{
    font-family: "panno-text", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
    white-space: normal;
    

}

.mediumtext2{
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    text-align: center;
    padding-right: 4vw;
    padding-left: 4vw;
    font-size: 1.5vw;
    white-space: normal;
    color: rgb(0, 0, 0);
    

}

.bodytext{
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-size: 1.2vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.marginauto{
    margin-left: auto;
    margin-right: auto;
}

.marginleft{
    margin-left: auto;
}

.marginright{
    margin-right: auto;
}

.width20 {
    width: 20%;
}

.width40 {
    width: 40%;
}

.width60 {
    width: 60%;
}

.width80 {
    width: 80%;
}

.width100{
    width: 100%;
}

.width30 {
    width: 30.33%;
}

.width60 {
    width: 66.66%;
}

.width90{
    width: 100%;
}

.width50{
    width: 50%;
}


.text-box h2 {
    font-family: "panno-text", sans-serif;

}

.grey-section {
    box-sizing: border-box;
    padding: 20px;
    background-size: 100vw 39vw;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url("Disappearing_Grid.jpg");

}

.monument-row{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.top.row{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.title-block{
    width: 55%;
}

.flexbox1 {
    display: flex;
    background-color:rgb(250, 250, 250)
}

.flexbox2 {
    display: flex;
    background-image: url("3D_Grid.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.textbox-container {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("3D_Grid.jpg");
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: middle; 
}

.textbox {
    flex: 1;
    text-align: middle;
    padding: 20px;
    box-sizing: border-box;
}

.card{
    background-color: rgba(175, 175, 175, 0.762);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin: 20px;
    height: 40vw;
    width: 27vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
}

.eyeball {
    margin-top: 6vw;
}

.center-text-container{
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}

.horizon-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    display: flex;

    margin-top: 20px;
    margin-bottom: 20px;

    background-image: url("horizon.gif");

}

.second-grid-section{
    background-image: url("Disappearing_Grid.jpg");
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-image {
    width: 40%;
    height: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.image2{
    background-image: url("Intangible_Grid.gif");

}

.text-box h2 {
    font-size: 60px;
    line-height: 0.6;
    margin-bottom: 15px;
}

.text-box p {
font-size: 21px;
line-height: 1.0;
margin: 0;
font-family: "panno-text", sans-serif;
width: 35px;
}


div.box {
    width: 300px;
    font-size: 11px;
    height: 300px;
    padding: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
background-color: rgba(238, 237, 237, 0);
}

div.grid {
    background-color: blue;
    background-image: url("pattern.png");
    background-size:100px;
    transition: 1s;
}

div.grid:hover {
    background-size:300px;
    transition: 1s;
}
